<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's your portfolio worth?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's your portfolio worth?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="symbol" type="text" placeholder="Symbol">
                            </div>
                            <div class="control is-expanded">
                                <input class="input" name="shares" type="number" placeholder="Shares">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add Symbol
                                </button>
                            </div>
                        </div>
                    </form>
                    <form method="POST">
                        <div class="control">
                            <button class="button is-info" name="clear" value="clear">
                                Clear Symbol Table
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for stock in stock_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ stock.symbol }}</span>
                                        <br>
                                        <span class="subtitle">{{ stock.value }}</span>
                                        <br>
                                        <span class="subheading">{{ stock.shares }} shares at
                                            {{ stock.price_per_share }} per share</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div id={{ stock.symbol }} class="media">
                        <script>
                            var stockName = '{{ stock.symbol }}'
                            var data = JSON.parse('{{ stock.high_charts | safe }}')
                            console.log(data)
                            var dataForHighCharts = []
                            for(var key in data){
                                if (data.hasOwnProperty(key)) {
                                    console.log(key + "->" + data[key].year + " " +
                                    " " + data[key].month + " " + data[key].day + " " + data[key].data);
                                    dataForHighCharts.push([Date.UTC(Number(data[key].year),
                                    Number(data[key].month), Number(data[key].day)), Number(data[key].data)])
                                }
                            }
                            Highcharts.chart('{{ stock.symbol }}', {
                                chart: {
                                    type: 'line'
                                },
                                title: {
                                    text: stockName
                                },
                                subtitle: {
                                    text: "Change over the previous 5 days"
                                },
                                yAxis: {
                                    title: {
                                        text: 'Price ($)'
                                    }
                                },
                                xAxis: {
                                    type: 'datetime',
                                    dateTimeLabelFormats: { // don't display the dummy year
                                        day: '%e. %b',
                                        year: '%b'
                                    },
                                    title: {
                                        text: 'Date'
                                    }
                                },
                                tooltip: {
                                    pointFormat: '${point.y:.2f}'
                                },
                                plotOptions: {
                                    spline: {
                                        marker: {
                                            enabled: false
                                        }
                                    }
                                },
                                series: [{
                                    'name': stockName,
                                    'data': dataForHighCharts
                                }]
                            });
                        </script>
                    </div>
                    {% endfor %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">Total Portfolio Value</span>
                                        <br>
                                        <span class="subtitle">{{ total_value }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>